* {
  box-sizing: border-box;
}

#pokemon-logo {
  height: 70px;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.card-body {
  text-align: center;
  padding-top: 50px;
  height: 80vh;
}

.card-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
}
.card-footer {
  text-align: center;
  height: 6.5vh;
  background-color: rgb(235, 235, 244);
}
