* {
  box-sizing: border-box;
}

#pokemon-logo {
  height: 70px;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

#spinner {
  margin-top: 110px;
}

#search {
  border: 2px solid blue;
}

.card-body {
  text-align: center;
  padding-top: 50px;
}

.card-title {
  width: 220px;
  margin-bottom: -49px;
}

.card-footer {
  height: 6.5vh;
  background-color: #0d6efd;
  color: white;
}

.card-footer>a {
  color: white;
}

.pokemon-name-button {
  border-radius: 5px;
  width: 250px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid rgb(1, 101, 252);
  color: blue;
  font-weight: bold;
  font-size: 21px;
}

.pokemon-name-button:hover {
  background-color: rgb(205, 214, 244);
  color: black;
}

.pokemon-img {
  width: 50%;
}

p {
  font-weight: bold;
}

.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list-group-item {
  border: none;
}

.modal-header {
  background-color: rgb(253, 201, 13);
  color: blue;
}

.modal-body {
  background-color: rgb(164, 171, 250);
}